---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import some fonts 

@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

// Our variables

$site-title-font-family: 'Lato', sans-serif;
$site-title-font-size: 36px;

// $post-title-font-family: ;
// $post-title-font-size: ;

$base-font-family: 'Open Sans', sans-serif;;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.85;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$content-area-background: url('/assets/cream_dust.png');

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
